page-referfriend {

}

.refer{} 
.refer .user-name{top: 10%;}
.refer .user-icon{width:100px;height:100px;margin: -50px auto 20px;}

.messager{}
.Whatsapp{}
.More{}

.social button img{width:80%;max-width:58px;}
.social button ion-icon{color:#d0d2d3 !important;}
.social .item-inner{border-bottom:0px !important;}
.refer .item-md p{font-size:1.6rem;}
.refer .item-md p span{color:#f7931e !important;font-weight:bold !important;}

.refer-field ion-label{color:#707070 !important;}
.refer-field ion-input{color:#000;font-weight:bold;font-size:2.2rem;border-bottom:2px dashed #f7931e;}
page-referfriend .item-inner{border-bottom:0 !important;padding-left:10px;}
page-referfriend .item{padding-left:0;}