page-terms {

}

page-terms h2{font-size: 2rem !important;white-space: normal;font-weight: 600 !important;}
page-terms p{white-space: normal;font-size:1.5rem !important;}
page-terms ion-item .item-inner{border-bottom:0 !important;}