page-my-profile {

}

page-my-profile ion-label {color:#707070 !important;margin-top:0 !important;}
page-my-profile ion-input { color:#3d3d3d;margin-bottom:8px;}

.top-grid h2{font-size:2.2rem;color:#000000;margin:0;}
.top-grid h5{font-size:1.6rem;color:#f7931e;margin:0;font-weight:400;}
.top-grid{border-bottom:1px solid #d4d6d7;padding-bottom:15px;
background-image:url(../assets/images/border-center.png);background-position:center;background-repeat:repeat-y;margin-top: -10px;}
page-my-profile .user-icon{margin-bottom:10px;}