page-editstackholder {

}


page-editstackholder .toolbar-md {
	padding: 4px;
	min-height: 45px;
}
page-editstackholder .segment-button{color:#FFF !important;opacity:1 !important;}
page-editstackholder .segment-button:first-of-type {
    margin-right: 0px;
    border-radius: 4px 0px 0px 4px;
}
page-editstackholder .segment-ios .segment-button:last-of-type {
    margin-left: 0px;
    border-left-width: 0px;
    border-radius: 0px 4px 4px 0px;
}
page-editstackholder .segment-button.segment-activated {
    color: #f7931e !important;
    background-color: #FFF;
    opacity: 1;
	border-color: #FFF !important;
    transition: all 0.1s linear;
}

page-editstackholder .segment-button {
    
    height: 2.6rem !important;
    font-size: 1.2rem;
    line-height: 2.5rem !important;
}

page-editstackholder .segment-button {
    -webkit-box-flex: 1;
    width: 0px;
    height: 3.2rem;
    font-size: 1.3rem !important;
	text-transform: capitalize !important;
    line-height: 3rem;
    color: rgb(72, 138, 255);
    flex: 1 1 0%;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #FFF !important;
}

page-editstackholder .sub-org-bar{color:#f7931e !important;font-weight:400 !important;}

page-editstackholder .mysubmission .note-md {
	font-size: 2rem;
	color: #000000;
	margin-top: 12px;
}

page-editstackholder ion-input{color:#3d3d3d;}
page-editstackholder ion-textarea{color:#3d3d3d;min-height:100px;}

.card-img{background-color:#d9d9d9;}
.first-bl .no-padding{background-color:#d9d9d9;}
.first-bl .no-padding .card-img{margin:0 !important;}
.first-bl .no-padding .card-img, .first-bl .no-padding .label-md{margin:0 !important;}
.top-bar{margin-bottom:0;}

page-editstackholder .sub-org-bar h2 {padding-top: 0 !important;color: #f7931e !important;font-weight:400 !important;}

.segment-ios .segment-button.segment-activated {
	color: #fff;
	background-color: #FFF;
	opacity: 1;
	-webkit-transition: 100ms all linear;
	transition: 100ms all linear;
}
.toolbar-ios .segment-button {
	max-width: none;
}
.header-ios .toolbar-ios{}
.toolbar-ios .segment-ios {padding: 0 5px;}

page-editstackholder ion-input .text-input-ios {
	color: #3d3d3d;
}
.refer .item-ios p span {
	color: #f7931e !important;
	font-weight: bold !important;
}
.mysubmission .item-ios h2 {
	font-weight: bold;
	color: #000;
	font-size: 14pt;
	padding-top: 10px;
}
.mysubmission .note-ios {
	font-size: 10pt;
	color: #707070;
	margin-top: 0;
}
.mysubmission .note-ios span {
	font-weight: bold;
	color: #000;
	font-size: 14pt;
}
