
  .splash  {
      margin: 0;
      width: 100%; 
  }

 
.invalid {
    border: 1px solid #ea6153;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}
 
.or-text .item-inner{border-bottom:0px !important;}
.cong-text .item-inner{border-bottom:0px !important;}

.top-50{margin-top:50px;}