   
ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }
  
  #map {
      height: 100%;
  }
  
  .ion-page > ion-content {
      position: relative !important;
  }
  
  .search_item{
      max-height:300px;
      overflow:auto;
  } 
  
  .item-md.item-block .item-inner{
      border-bottom:none !important;
  }
  .hrdiviser{
      border: 1px solid #dedede !important;
      width: 100%;
      float: left;
  }
  
  .list-border .loc-det {
      white-space: normal;
      font-size: 1.5rem;
      width: 60%;
      float: left;
  }
  
