page-mymoney {

}

page-mymoney h1{font-size:2.5rem;color:#f7931e;margin:0 0 10px 0 !important;font-weight:600 !important;}
page-mymoney h2{font-size:2rem;color:#000000;margin:0 0 10px 0 !important;font-weight:600 !important;}
page-mymoney p{font-size:1.6rem;color:#3d3d3d;margin:0;white-space:normal;}
.no-padding{padding:0 !important}
.no-padding .item-inner{padding:15px !important;border-bottom:0 !important;}
.org{background:#fff4e6;}
page-mymoney .signin-btn {margin-top: 20px;display: inline-block !important;width: 75%;}
page-mymoney .no-padding .item-inner .label-md{margin-top:5px;margin-bottom:5px;}
