page-howitwork {

}


.icon-img{display:inline-block;}
.icon-img img{max-width:360px;width:80%;}

.slider{display:inline-block;}
.slider img{max-width:107px;width:80%;}

page-howitwork h2{font-size: 2.2rem !important;white-space: normal;font-weight: 600 !important;color:#f7931e;padding:20px 0;}
page-howitwork p{white-space: normal;font-size:1.5rem !important; text-align: justify;}

page-howitwork ion-item .iten-inner{border-bottom:0 !important;}